
#sidebar .nav > li > a {
	color: #aaa;
	padding: 3px 10px;
}
#sidebar li{
	list-style-type: none;
}
#sidebar .nav-pills ul{
	display:none;
}
#sidebar .nav-pills li.active > ul{
	display:block;
}
#sidebar .nav-pills > li.active > a,
#sidebar .nav-pills > li.active > a:hover,
#sidebar .nav-pills > li.active > a:focus {
	display:block;
	border-radius: 0;
	color: #666;
	background: none;
	border-left:2px solid #666;
	padding: 3px 8px;
	font-weight: 600;
}

.sidebar-h1{
	margin-left:10px !important;
}
.sidebar-h2{
	margin-left:10px !important;
}
.sidebar-h3{
	margin-left:20px !important;
}
.sidebar-h4{
	margin-left:30px !important;
}
h5,h6{
	font-weight: 600;
}
.sidebar-h5{
	font-size:12px;
margin-left:40px !important;
}
.sidebar-h6{
	font-size:12px;
margin-left:50px !important;
}
.component-example{
	margin-top:10px;
}
.component-example .panel-heading{
	font-size:12px;
	text-transform: uppercase;
	font-weight: 600;
}
.component-example pre{
	padding:0;
	margin:0;
	border:none;
	max-height:200px;
	overflow-y:auto;
}
.vhidden{
	visibility: hidden;
}