<span>
<span ng-if="component.shown != 'hide'" ng-hide="component.shown == 'hideCSS'" ng-switch="component.sizing">
	<h1 ng-switch-when="h1" class=" ui-heading {{component.class}} {{component.parentClass}}">
<ui-component component="component.contents"></ui-component>
	</h1>
	<h2 ng-switch-when="h2" class=" ui-heading {{component.class}} {{component.parentClass}}">
<ui-component component="component.contents"></ui-component>
	</h2>
	<h3 ng-switch-when="h3" class=" ui-heading {{component.class}} {{component.parentClass}}">
<ui-component component="component.contents"></ui-component>
	</h3>
	<h4 ng-switch-when="h4" class=" ui-heading {{component.class}} {{component.parentClass}}">
<ui-component component="component.contents"></ui-component>
	</h4>
	<h5 ng-switch-when="h5" class=" ui-heading {{component.class}} {{component.parentClass}}">
<ui-component component="component.contents"></ui-component>
	</h5>
	<h6 ng-switch-when="h6" class=" ui-heading {{component.class}} {{component.parentClass}}">
<ui-component component="component.contents"></ui-component>
	</h6>
</span>
</span>
